body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*Set display to Grid, No rule is needed for rows since there is only one row.
    grid-template-columns rule defines the amount of columns and their width 
    simultaneously. fr is a grid specific measurement unit but you can also use ems
    or pixels. 
    Grid-Template-areas rule names each column.
*/
.movieRowClass {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "one two three four five"
        ;
}
/*Assign each the children to their respective column*/
    .movieRowClass:nth-child(1) {
        grid-area: one;
    }
    .movieRowClass:nth-child(2) {
        grid-area: two;
    }
    .movieRowClass:nth-child(3) {
        grid-area: three;
    }
    .movieRowClass:nth-child(4) {
        grid-area: four;
    }
    .movieRowClass:nth-child(5) {
        grid-area: five;
    }


    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
